RPC_URL=http://127.0.0.1:8545
DEVICE_REGISTRY_CONTRACT_ADDRESS=PASTE_DEVICE_REGISTRY_ADDRESS_HERE
DATA_REGISTRY_CONTRACT_ADDRESS=PASTE_DATA_REGISTRY_ADDRESS_HERE

ACCOUNT_ADDRESS=PASTE_YOUR_ACCOUNT_ADDRESS_HERE
PRIVATE_KEY=PASTE_YOUR_PRIVATE_KEY_HERE
